#Ipython Notebook
.ipynb_checkpoints
statistical_test/__pycache__/statistical_test.cpython-37.pyc
pyMEPSA/a.exe
pyMEPSA/mepsa.o
pyMEPSA/mepsa.so
lc_pulse_avalanche/__pycache__/avalanche.cpython-37.pyc
statistical_test/__pycache__/avalanche.cpython-37.pyc
statistical_test/avalanche.py
lc_pulse_avalanche/__pycache__/statistical_test.cpython-37.pyc
lc_pulse_avalanche/statistical_test.py
lc_pulse_avalanche/n_of_pulses.txt
