#Ipython Notebook
.ipynb_checkpoints
statistical_test/__pycache__/statistical_test.cpython-37.pyc
pyMEPSA/a.exe
pyMEPSA/mepsa.o
pyMEPSA/mepsa.so
lc_pulse_avalanche/__pycache__/avalanche.cpython-37.pyc
statistical_test/__pycache__/avalanche.cpython-37.pyc
statistical_test/avalanche.py
lc_pulse_avalanche/__pycache__/statistical_test.cpython-37.pyc
lc_pulse_avalanche/statistical_test.py
lc_pulse_avalanche/n_of_pulses.txt
statistical_test/x.txt
statistical_test/y.txt
lc_pulse_avalanche/simulate_GRBs.py
lc_pulse_avalanche/simulate_GRBs.py
lc_pulse_avalanche/simulate_GRBs.py
lc_pulse_avalanche/simulate_GRBs.py
lc_pulse_avalanche/simulate_GRBs.py
lc_pulse_avalanche/__pycache__/avalanche.cpython-311.pyc
lc_pulse_avalanche/mock_lc.txt
statistical_test/test_lc_4.txt
statistical_test/__pycache__/statistical_test.cpython-311.pyc
statistical_test/test_mepsa.txt
statistical_test/__pycache__/statistical_test.cpython-311.pyc
statistical_test/__pycache__/statistical_test.cpython-311.pyc
lc_pulse_avalanche/simulate_GRBs.py
lc_pulse_avalanche/simulate_GRBs.py
statistical_test/__pycache__/statistical_test.cpython-311.pyc
